[BeeBEEP]
EnableChatWithAllUsers=false
UseHive=true
UseHostnameForDefaultUsername=false
DisableFileTransfer=false
DisableFileSharing=false
DisableSendMessage=false
UseEasyConnection=false
StartMinimized=false
Signature=
UseOnlyTextEmoticons=false
DisablePrivateChats=false
UserRecognitionMethod=0
AllowAddMembersToGroup=true
AllowRemoveMembersFromGroup=true
SaveDataInUserApplicationFolder=true
AllowMultipleInstances=true
PreventMultipleConnectionsFromSingleHostAddress=false

