[BeeBEEP]
EnableSaveData=true
UseConfigurationFileIni=true
BroadcastOnlyToHostsIni=false
BroadcastPort=36475
DefaultListenerPort=6475
DefaultFileTransferPort=6476
SaveDataInDocumentsFolder=false
SaveDataInUserApplicationFolder=false
AllowMultipleInstances=false
DataFolderPath=
AddAccountNameToDataFolder=false
UseMulticastDns=false
PreventMultipleConnectionsFromSingleHostAddress=false
PreferredSubnets=
UseIPv6=false
MulticastGroupAddress=
EnableChatWithAllUsers=true
UseHive=true
UseHostnameForDefaultUsername=false
DisableFileTransfer=false
DisableFileSharing=false
DisableSendMessage=false
UseEasyConnection=false
StartMinimized=false
Signature=
UseOnlyTextEmoticons=false
DisablePrivateChats=false

[Groups]
TrustSystemAccount=false
