[BeeBEEP]
BroadcastOnlyToHostsIni=false
BroadcastPort=36475
DefaultListenerPort=6475
DefaultFileTransferPort=6476
UseConfigurationFileIni=true
SaveDataInUserApplicationFolder=false
AllowMultipleInstances=false
UseMulticastDns=true
PreventMultipleConnectionsFromSingleHostAddress=false

[Groups]
TrustNickname=true
TrustSystemAccount=false
